body {
	font-family: sans-serif;
	color: #CCC;
}

.search-box {
	display: block;
	margin: 1em;
}


.results {
	display: block;
	margin: 1em;
}

.resultsHeading{
	display: block;
	margin: 1em;
}

.searchResults {
	display: block;
	margin: 1em;
}


a.searchLink {
	color: #678;
	text-decoration: none;
	font-weight: bold
}

a.searchLink:hover {
	color: #456;
	text-decoration: none;
	font-weight: bold
}
